# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/bazel-out

# dependencies
/node_modules

# tooling
/.angular/cache
/.cache

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
/.vscode/*

# keep useful VS Code settings if needed
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/tasks.json
!/.vscode/settings.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
npm-debug.log
yarn-error.log
pnpm-debug.log

# system files
.DS_Store
Thumbs.db

# environment files
.env
.env.local
.env.*.local